
img{
    width: 50px;
}
body{
    overflow-x: hidden;
    color: #505962;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(75,43,110,1) 100%);
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background: rgba(0, 0, 0, 0.6);
}
a {
    color: inherit;
}